:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --focus-color: #2196f3;
  --white-color: #ffffff;
  --bacground-color: #ffffff;
  --backgroung-team: #f5f4fa;
  --background-footer: #2f303a;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --hero-overley: rgba(47, 48, 58, 0.4);
  --backdrop-color: rgba(0, 0, 0, 0.2);
}

.portfolio, .section-clients, .section-team, .section-about, .peculiarities {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio, .section-clients, .section-team, .section-about, .peculiarities {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--bacground-color);
  font-size: 14px;
}

.link {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.images {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.container {
  outline: 1px solid tomato;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: block;
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo__span {
  color: var(--title-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.logo__span:hover, .logo__span:focus {
  color: var(--accent-color);
}

.contacts {
  display: none;
}

.contacts__item:last-child {
  margin-right: 0;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 30px;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  background-color: var(--white-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__image {
  fill: currentColor;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--white-color);
}

.navigation__list {
  display: none;
}

.navigation__item {
  margin-right: 50px;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  background-color: var(--white-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.navigation__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link--current {
  color: var(--accent-color);
}
.navigation__link--current::after {
  color: var(--accent-color);
  opacity: 1;
}

.hero {
  text-align: center;
  background-color: var(--background-footer);
  padding: 200px 0;
}

.hero__title {
  width: 696px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-overley)), to(var(--hero-overley))), url(../images/hero.jpg);
  background-image: linear-gradient(to right, var(--hero-overley), var(--hero-overley)), url(../images/hero.jpg);
  background-repeat: no-repeat;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  opacity: 1;
  -webkit-transition: opasity 250ms var(--timing-function);
  transition: opasity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  height: 581px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: visibility 250ms var(--timing-function), opasity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: visibility 250ms var(--timing-function), opasity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), visibility 250ms var(--timing-function), opasity 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), visibility 250ms var(--timing-function), opasity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.modal__btn {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 10px;
  right: 10px;
  width: 30px;
  padding: 0;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal__icon-close {
  fill: rgb(0, 0, 0);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.modal__icon-close:hover {
  fill: var(--accent-color);
}

.modal__form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.modal__feedback {
  display: block;
  color: var(--title-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.modal__textarea {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.agreement {
  margin-bottom: 30px;
}

.form__field label,
.modal__textarea label {
  margin-bottom: 4px;
}

.modal__label {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal__input {
  outline: 1px solid transparent;
  outline-offset: -1px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-right: 42px;
  padding-left: 42px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}
.modal__input:focus {
  border-color: var(--accent-color);
}
.modal__input:focus ~ .modal__icon {
  fill: var(--accent-color);
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 15px;
}

.modal__form-message {
  display: block;
  resize: none;
  outline: 1px solid transparent;
  outline-offset: -1px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}
.modal__form-message:focus {
  border-color: var(--accent-color);
}
.modal__form-message::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-message::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-message:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-message::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-message::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-link {
  color: var(--accent-color);
  text-underline-position: under;
}

.agreement__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agreement__label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}

.agreement__icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--timing-function), bacground-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function), bacground-color 250ms var(--timing-function);
}

.agreement__checkbox:checked + .agreement__icon-checkbox {
  border-color: transparent;
  background-color: var(--accent-color);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.socials__list {
  width: 44px;
  height: 44px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--white-color);
  color: #afb1b8;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.socials__icon {
  fill: currentColor;
}

@media screen and (max-width: 767.98px) {
  .peculiarities__item {
    margin-bottom: 30px;
  }
  .peculiarities__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .peculiarities__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}

.peculiarities__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .peculiarities__icon {
    width: 270px;
  }
}

.peculiarities__title {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 767.98px) {
  .peculiarities__title {
    text-align: center;
  }
}

.peculiarities__text {
  line-height: 1.71;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .peculiarities__text {
    width: 270px;
  }
}

.section__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.section-about {
  display: none;
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .section-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__img {
  position: relative;
  margin-right: 30px;
}

.work__img:last-child {
  margin-right: 0;
}

.work__overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  bottom: 0;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__text {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.team__card {
  width: 100%;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 15px;
}
@media screen and (max-width: 767.98px) {
  .team__card:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .team__card {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.team__card-description {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team__member-name {
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team__profesion {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.section-team--decoration {
  color: var(--title-color);
  background: var(--backgroung-team);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  width: 170px;
  height: 92px;
}
@media screen and (max-width: 1199.98px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (max-width: 767.98px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 92px;
  color: rgb(175, 177, 184);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
}

.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients__icon {
  border-color: currentColor;
  fill: currentColor;
}

.icon:hover,
.icon:focus {
  color: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-footer);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-logo {
  display: inline-block;
  background-color: var(--background-footer);
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-bottom: 20px;
}

.footer-logo__span {
  color: var(--white-color);
  margin-right: 156px;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.footer-logo__span:hover,
.footer-logo__span:focus {
  color: var(--accent-color);
}

.footer__title {
  display: block;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.socials__link-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
  -webkit-transition: var(--bacground-color) 250ms var(--timing-function);
  transition: var(--bacground-color) 250ms var(--timing-function);
}

.socials__link-footer:hover,
.socials__link-footer:focus {
  background-color: var(--accent-color);
}

.footer__contacts {
  font-style: normal;
  line-height: 1.71;
}

.footer-contacts__item:last-child {
  margin-bottom: 0;
}

.footer-contacts__item {
  margin-bottom: 9px;
}

.footer-contacts__adress {
  color: var(--white-color);
  line-height: 1.71;
  display: inline-block;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.footer-contacts__adress:hover,
.footer-contacts__adress:focus {
  color: var(--accent-color);
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
}

.footer-socials {
  width: 231px;
  margin-right: 70px;
}

.footer-form {
  margin-left: auto;
}

.footer-form__email {
  min-width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  color: var(--white-color);
  background-color: var(--background-footer);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.button-main {
  color: var(--backgroung-team);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-width: 216px;
  border-radius: 4px;
  padding: 10px 32px;
  border: 0;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.button-main:hover, .button-main:focus, .button-main:active {
  color: var(--primary-text-color);
}

.button-secondary {
  color: var(--title-color);
  background-color: var(--backgroung-team);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  border-color: transparent;
  -webkit-transition: color 250ms var(--timing-function), var(--bacground-color) 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), var(--bacground-color) 250ms var(--timing-function);
}
.button-secondary:focus, .button-secondary:hover, .button-secondary:active {
  background-color: var(--accent-color);
  color: var(--white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--backgroung-team);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px;
  border: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.button-footer:hover, .button-footer:focus, .button-footer:active {
  color: var(--primary-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-modal-aprove {
  display: block;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--backgroung-team);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px;
  border: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.icon-send {
  margin-left: 10px;
  fill: currentColor;
  background-color: var(--accent-color);
  -webkit-transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter__list {
  margin-right: 8px;
}
.filter__list:last-child {
  margin-right: 0;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.card-set__list {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.card-set__link {
  display: block;
}

.card-set__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set__link:hover .card-set__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card-set__thumb {
  position: relative;
  overflow: hidden;
}

.card-set__overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: 250ms var(--timing-function);
  transition: 250ms var(--timing-function);
}

.card-set__overlay-description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.card-set__wrapper {
  padding: 20px 24px 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.card-set__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card-set__projects {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: var(--accent-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--bacground-color);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  list-style: none;
  margin-bottom: auto;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--title-color);
  text-decoration: none;
}

.mobile-menu__span {
  color: var(--accent-color);
}

.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-contacts__item {
  margin-bottom: 32px;
}
.mobile-contacts__item:last-child {
  margin-bottom: 0;
}

.mobile-contacts__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-contacts__span {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-socials__item {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-socials__item:last-child {
  border-right: none;
}/*# sourceMappingURL=main.css.map */