
.section-about {
	display: none;
    @extend %section;
	padding-top: 0;

	@media screen and(min-width: 1200px) {
		display: flex;
	}
}
.work {
	display: flex;
}
.work__img {
	position: relative;
	margin-right: 30px;
}
.work__img:last-child {
	margin-right: 0;
}
.work__overlay {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	bottom: 0;
	height: 70px;
	background-color: rgba(47, 48, 58, 0.8);
}
.work__text {
	color: var(--white-color);
	font-size: 14px;
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	text-align: center;
}
