.button-main {
	color: var(--backgroung-team);
	background-color: var(--accent-color);
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	cursor: pointer;
	min-width: 216px;
	border-radius: 4px;
	padding: 10px 32px;
	border: 0;

	transition: color 250ms var(--timing-function);

    &:hover,
&:focus,
&:active {
	color: var(--primary-text-color);
}
}

.button-secondary {
	color: var(--title-color);
	background-color: var(--backgroung-team);
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.03em;
	cursor: pointer;
	border-radius: 4px;
	padding: 6px 22px;
	border-color: transparent;

	transition: color 250ms var(--timing-function),
		var(--bacground-color) 250ms var(--timing-function);

&:focus,
&:hover,
&:active {
	background-color: var(--accent-color);
	color: var(--white-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}
}


.button-footer {
	position: relative;
	display: block;
	margin-right: auto;
	margin-left: auto;
	color: var(--backgroung-team);
	background-color: var(--accent-color);
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	cursor: pointer;
	min-width: 200px;
	border-radius: 4px;
	padding: 10px;
	border: 0;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	transition: color 250ms var(--timing-function);

    &:hover,
    &:focus,
    &:active {
	color: var(--primary-text-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
}

.button-modal-aprove {
	display: block;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	color: var(--backgroung-team);
	background-color: var(--accent-color);
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	cursor: pointer;
	min-width: 200px;
	border-radius: 4px;
	padding: 10px;
	border: 0;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	transition: color 250ms var(--timing-function);
}
.icon-send {
	position: absolute;
	top: 25%;
	right: 7%;
	fill: currentColor;
	background-color: var(--accent-color);
	transition: background-color 250ms var(--timing-function),
		fill 250ms var(--timing-function);
}
