.header {
	background-color: var(--white-color);
	border-bottom: 1px solid #ececec;
	padding-top: 16px;
	padding-bottom: 16px;
}
.header__container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo {
	display: block;
	color: var(--accent-color);
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	// font-size: 26px;
	// line-height: 1.19;
	font-size: 24px;
	line-height: 1.17;
	letter-spacing: 0.03em;
}
//  {.header__logo
	
// // 	margin-right: 93px;
// // 
// }
.logo__span {
	color: var(--title-color);
	transition: color 250ms var(--timing-function);

&:hover,
&:focus {
	color: var(--accent-color);
}
}
.contacts {
	display: none;
	// display: flex;
	// margin-left: auto;
	// align-items: center;
}
.contacts__item:last-child {
	margin-right: 0;
}
.contacts__link {
	display: flex;
	align-items: center;
	gap: 10px;
	padding-top: 32px;
	padding-bottom: 32px;
	margin-right: 30px;

	color: var(--primary-text-color);
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	background-color: var(--white-color);

	transition: color 250ms var(--timing-function);

&:hover,
&:focus {
	color: var(--accent-color);
}
}
.contacts__image {
	fill: currentColor;
}