.hero {
	text-align: center;
	background-color: var(--background-footer);
	padding: 200px 0;
}

.hero__title {
	width: 696px;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	color: var(--white-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.hero__overlay {
	height: 600px;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(
			to right,
			var(--hero-overley),
			var(--hero-overley)
		),
		url(../images/hero.jpg);
	background-repeat: no-repeat;
}